name: Publish Images

on:
  push:
    branches:
      - 'main'
    paths:
      - 'services/web/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build crapi-web and push to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: ./services/web
          tags: aaaaaa9/crapi-web:latest
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha,scope=web-service
          cache-to: type=gha,mode=max,scope=web-service
